<div class="flex-container">
    <img class="user-menu-img" src="/userImg.png" width="120" height="120" alt="User">
    <a class="btn btn-primary <% if (active === 'ingredients') {%>active<% }%>"  href="/ingredients">Ingredients</a>
    <a class="btn btn-primary <% if (active === 'recipes') {%>active<% }%>" href="/recipes">Recipes</a>
    <a class="btn btn-link" href="/">Log out</a>
</div>